@charset "UTF-8";
/* CSS Document */
/*CSS to complement Bootstrap CSS*/

body{
	font-family: 'Titillium Web', sans-serif;
	color: #131A2D;
	font-weight: 300;
	background-color: #FFFFFF;
}
----------------------------------------------------------------------
/*Styles to display previous projects in Featured Work sectioni*/
.featuredWork{
	background-color: #000000;
}

.image-background{
	background-color: #FFF;
}
-----------------------------------------------------------------------
/*Marquee section and image*/
.intro{
	width:100%;
	background-color: #363731;
	color: #3399CC;
	font-size: 40px;	
}

.project-image{
	max-width: 400px;
	width: 100%;
	max-height: 300px;
	height: 100%;
	margin-left:auto;
	margin-right: auto;
}
--------------------------------------------------------------------------
/*Style for horizontal rule*/
.rule{
	width:auto;
	height: 4px;
	background-color: #F8981C;
	border-top:hidden;
}
-------------------------------------------------------------------------
/*Styles for title text*/
.super-title{
	font-size: 60px;
	color: #131A2D;
}

.text-large{
	font-size:40px;
}

.title-logo{
	margin-top: 20px;
	
}

.text-muted{
	color: #D0C4AB;
}

.text-thin{
	font-weight: 100;
}








